/////////////////////////////////
// Main colors
/////////////////////////////////

$c-primary:#34495E;
$c-primary-dark:#2C3E50;


$c-cta:#F39C12;
$c-text: white;
$c-error: #C0392B;

/////////////////////////////////
// Secondary colors
/////////////////////////////////

$c-orange:orange;
$c-teal:#16A085;
$c-red:#d12d2d;
$c-blue:#3c3c90;
