/////////////////////////////////
// Margins
/////////////////////////////////

$content-area-margin: 40px;

/////////////////////////////////
// Breakpoints
/////////////////////////////////

$screensize-medium: 1000px;
$screensize-small: 700px;