/*_ManageOperators-OperatorsPermissions*/

.operator-view {
    font-size: 12px;
    padding-left: 16px;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #34495e;
    height: 100%;
    color: white;
    border-radius: 4px 4px 4px 0px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}
/*Disabled the ability to click it cause it was turning the adjustCSSOnToggle on and off...*/
#operator-view {
    pointer-events: none;
}

/*Adust CSS on dropdown toggle*/
.operator-view--adjustCSSOnToggle {
    border-radius: 4px 4px 0px 0px;
    box-shadow: none;
}

.operator-view--machines::before, .operator-view--jobs::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 8px;
    border-radius: 4px 0px 0px 0px;
}
/*Color for the little square on the left side of a operator-view item*/
.operator-view--machines::before {
    background-color: #e67e22;
}

.operator-view--jobs::before {
    background-color: #16a085;
}

.operator-view__cell {
    padding: 24px;
    align-items: center;
}

/*Min width for the first cell of a operator-view*/
.operator-view__cell:first-of-type {
    min-width: 96px;
}

.cell__field {
    background-color: #2b3b4c;
    border-radius: 4px;
    width: 116px;
    height: 32px;
    margin-bottom: 16px;
}

.cell__value, .cell__text--big {
    font-size: 16px;
    padding: 8px 0px 0px 0px;
    text-align: start;
}

.cell__text, .cell__value {
    margin-top: -4px;
}

.cell__value--time, .cell__value--count {
    margin-left: 16px;
    font-weight: bold;
}

.cell__title--big {
    font-weight: bold;
    font-size: 16px;
}

.cell__separator {
    width: 2px;
    margin: 22px 0;
    background: #2C3E50;
}

.operator-view__button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operator-view__button--path, .operator-view__button--dropdown {
    margin-left: auto;
}

.operator-view__button--cam {
    margin: 0px 52px 0px 4px;
}

.operator-view__button--dropdown {
    margin-right: 64px;
    pointer-events: all;
}


/* flip the icon on click*/
.operator-view__button--flip {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
    /* 1px margin-top cause it otherwise moves 1px up and it pisses me off*/
    margin-top: 1px;
}


.operator-view__footer {
    /* Padding needed cause of the colored square on the left */
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #34495e;
    height: 24px;
    color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}




/*Buttons*/
.manage-permissions, .assign-machine, .remove-operator, .confirm-changes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 44px;
    background-color: #24303C;
    ;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 44px 48px 0px auto;
    border: 2px solid #F39C12;
    border-radius: 4px 4px 4px 0px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

.assign-machine {
    margin-left: 16px;
}


.remove-operator {
    margin: 20px auto 40px 48px;
}

.assign-machine__text {
    padding-right: 24px;
}

.confirm-changes {
    margin: 20px 48px 40px auto;
}

.bottom-buttons {
    display: flex;
}

/*Machine-view*/

#machine-view__dropdown {
    /*display: none;*/
}

.machine-view {
    font-size: 12px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 64px;
    color: white;
    align-items: center;
}

.machine-view--header {
    height: 80px;
}

.machine-view:nth-of-type(odd) {
    background-color: #1f2b37;
}

.machine-view:nth-of-type(even) {
    background-color: #24303c;
}

.machine-view__cell {
    width: 200px;
}

.machine-view__cell:first-child {
    padding-left: 80px;
}

.machine-view__cell--right {
    margin-left: auto;
    margin-right: 64px;
}

.machine-view__text {
    font-size: 14px;
}

.machine-view__text--header {
    font-weight: bold;
}
    
.machine-view__icon {
    padding: 0px 32px 0px 20px;
}

.machine-view__button {
    margin-left: auto;
    margin-right: 72px;
}
