.role-container {
    color: #ffffff;
    background-color: #1f2b37;
    width: 100%;
    margin-bottom: 24px;
    padding: 24px;
    border-top: 2px solid #F39C12;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

.manageRoles--list {
    background-color: #273646;
    padding: 4px;
    border-radius: 4px 4px 4px 4px;
}